# Python
__pycache__/
*.py[cod]
*.so
.Python
build/
dist/
*.egg-info/

# Environment
*venv/

# Data
*.wav
SyncTalk/

GPT-SoVITS/

test_data/

docs/

# AutoDL

**/.ipynb_checkpoints/

# Test

tests/

# other
launch.json
*.code-workspace
.specstory/
.cursorindexingignore
.DS_Store
